In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

cpr = pd.read_csv("csv_files/cpr.csv")
global_best = pd.read_csv("csv_files/esr_hiy_globalbest.csv")
income_adjusted = pd.read_csv("csv_files/esr_hiy_incomeadjusted.csv")
income_adjusted

,Country_Code,Country,High_Income_Country,Year,HiY_QofL_All_IAScore,HiY_Education_All_IAScore,HiY_Food_All_IAScore,HiY_Health_All_IAScore,HiY_Housing_All_IAScore,HiY_Work_All_IAScore,...,NotLTUnemploy_All_IAFrontier,NotLTUnemploy_All_MRValue,NotLTUnemploy_All_IAPenalty,NotLTUnemploy_All_IAScore,NotRelPoor_MRYear,NotRelPoor_MRGDP,NotRelPoor_IAFrontier,NotRelPoor_MRValue,NotRelPoor_IAPenalty,NotRelPoor_IAScore
0,ABW,Aruba,1,1990,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABW,Aruba,1,1991,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABW,Aruba,1,1992,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABW,Aruba,1,1993,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABW,Aruba,1,1994,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7099,ZWE,Zimbabwe,0,2017,NaN,NaN,37.851213,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7100,ZWE,Zimbabwe,0,2018,NaN,NaN,37.799641,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7101,ZWE,Zimbabwe,0,2019,NaN,NaN,34.088984,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7102,ZWE,Zimbabwe,0,2020,NaN,NaN,30.288745,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7103,ZWE,Zimbabwe,0,2021,NaN,NaN,28.020494,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN